.more {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
  display: flex;
  align-items: center;
  justify-content: center;
}
.more-info {
  background-color: white;
  width: 700px;
  height: 550px;
  padding: 1.5rem;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1.3rem;
}
.info-img {
  width: 200px;
  height: 190px;
  margin-right: 20px;
}
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  outline: none;
  border: none;
  font-size: 17px;
  background-color: transparent;
}
.close-btn:hover {
  cursor: pointer;
  color: red;
}
.box {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.info h3 {
  margin-top: 10px;
  color: green;
}
.info h4 {
  color: blue;
}
.info button {
  outline: none;
  border: none;
  width: 100px;
  border-radius: 5px;
  background-color: rgb(35, 199, 254);
  color: white;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
}
.desc {
  margin-top: 2rem;
  text-align: justify;
  font-size: 13px;
}

@media screen and (max-width: 1024px) {
  .more-info {
    width: 90%;
  }
}
